/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{

    background:linear-gradient(135deg,#071A35,#0B2E59,#174A7C);

    min-height:100vh;

    color:white;

}

/* Navbar */

header{

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 80px;

    position:fixed;

    top:0;

    backdrop-filter:blur(12px);

    background:rgba(7,26,53,.35);

    border-bottom:1px solid rgba(255,255,255,.08);

}

.logo{

    font-size:30px;

    font-weight:bold;

}

.logo span{

    color:#8B5CF6;

}

nav a{

    text-decoration:none;

    color:white;

    margin-left:30px;

    font-size:18px;

    transition:.3s;

}

nav a:hover{

    color:#8B5CF6;

}
/* Hero Section */

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    min-height:100vh;
    padding:150px 100px;
}

.hero-text{

    width:55%;

}

.hero-text h3{

    font-size:28px;

    color:#A5D8FF;

}

.hero-text h1{

    font-size:72px;

    margin:10px 0;
	color:White;

}

.hero-text h2{

    font-size:35px;

}

.hero-text span{

    color:#8B5CF6;

}

.hero-text p{

    margin:20px 0;

    font-size:18px;

    line-height:1.7;

    color:#d8d8d8;

}

.btn{

    display:inline-block;

    padding:18px 45px;

    font-size:18px;

    background:#8B5CF6;

    color:white;

    text-decoration:none;

    border-radius:50px;

    font-weight:bold;

    transition:.3s;

    box-shadow:0 0 20px rgba(139,92,246,.5);

}

.btn:hover{

    transform:translateY(-5px);

    box-shadow:0 0 35px rgba(139,92,246,.9);

}

.hero-image{

    width:40%;

    text-align:center;

}

.hero-image img{

    width:350px;

    filter:drop-shadow(0 0 30px #8B5CF6);

    animation:float 3s ease-in-out infinite;

}

@keyframes float{

    0%{transform:translateY(0);}

    50%{transform:translateY(-15px);}

    100%{transform:translateY(0);}

}
/* About Section */

.about{

    padding:100px 80px;

    display:flex;

    justify-content:center;

}

.about-card{

    max-width:900px;

    background:rgba(255,255,255,0.08);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,0.15);

    border-radius:20px;

    padding:40px;

    box-shadow:0 0 25px rgba(0,0,0,.3);

    transition:.4s;

}

.about-card:hover{

    transform:translateY(-10px);

    box-shadow:0 0 30px rgba(139,92,246,.5);

}

.about h2{

    text-align:center;

    color:#8B5CF6;

    margin-bottom:25px;

    font-size:38px;

}

.about p{

    color:#ddd;

    font-size:18px;

    line-height:1.8;

    margin-bottom:15px;

}
/* Skills Section */

.skills{

    padding:100px 80px;

    text-align:center;

}

.skills h2{

    font-size:40px;

    color:#8B5CF6;

    margin-bottom:50px;

}

.skill-container{

    display:flex;

    justify-content:center;

    gap:30px;

    flex-wrap:wrap;

}

.skill-card{

    width:250px;

    padding:30px;

    background:rgba(255,255,255,.08);

    border:1px solid rgba(255,255,255,.15);

    backdrop-filter:blur(15px);

    border-radius:20px;

    transition:.4s;

    cursor:pointer;

}

.skill-card:hover{

    transform:translateY(-10px);

    box-shadow:0 0 30px rgba(139,92,246,.7);

}

.skill-card h3{

    font-size:26px;

    margin-bottom:15px;

}

.skill-card p{

    color:#ddd;

    line-height:1.6;

}
/* Projects Section */

.projects{

    padding:100px 80px;

    text-align:center;

}

.projects h2{

    font-size:40px;

    color:#8B5CF6;

    margin-bottom:50px;

}

.project-container{

    display:flex;

    justify-content:center;

    gap:30px;

    flex-wrap:wrap;

}

.project-card{

    width:320px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,.15);

    border-radius:20px;

    padding:30px;

    transition:.4s;

}

.project-card:hover{

    transform:translateY(-10px);

    box-shadow:0 0 30px rgba(139,92,246,.7);

}

.project-card h3{

    margin-bottom:20px;

    font-size:24px;

}

.project-card p{

    color:#ddd;

    line-height:1.7;

    margin-bottom:25px;

}

.project-btn{

    display:inline-block;

    text-decoration:none;

    color:white;

    background:#8B5CF6;

    padding:12px 25px;

    border-radius:30px;

    transition:.3s;

}

.project-btn:hover{

    background:#6D28D9;

}
/* Contact Section */

.contact{

    padding:100px 80px;

    text-align:center;

}

.contact h2{

    font-size:40px;

    color:#8B5CF6;

    margin-bottom:40px;

}

.contact-card{

    max-width:700px;

    margin:auto;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,.15);

    border-radius:20px;

    padding:40px;

}

.contact-card p{

    margin:15px 0;

    font-size:18px;

}

.social-links{

    margin-top:30px;

}

.social-links a{

    display:inline-block;

    margin:10px;

    padding:12px 25px;

    background:#8B5CF6;

    color:white;

    text-decoration:none;

    border-radius:30px;

    transition:.3s;

}

.social-links a:hover{

    transform:translateY(-5px);

    box-shadow:0 0 20px rgba(139,92,246,.8);

}
/* Footer */

footer{

    text-align:center;

    padding:25px;

    margin-top:50px;

    background:rgba(255,255,255,.05);

    border-top:1px solid rgba(255,255,255,.1);

}

footer p{

    color:#ccc;

}
body::before{
    content:"";
    position:fixed;
    width:350px;
    height:350px;
    background:#8B5CF6;
    border-radius:50%;
    filter:blur(180px);
    top:100px;
    right:100px;
    opacity:.35;
}

body::after{
    content:"";
    position:fixed;
    width:300px;
    height:300px;
    background:#00BFFF;
    border-radius:50%;
    filter:blur(180px);
    bottom:50px;
    left:100px;
    opacity:.25;
}